.contenitore {
    width: 1100px;
    margin: auto;
}

.sfondo_header {
    background-color: #4EA0FF;
    height: 180px;
    background-image: url("../img/pattern.png");
}

#logo_header {
    height: 60px;
    margin-left: 10px;
    margin-top: 100px;
}

h1 {
    font-size: 42px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.descrizione_titolo {
    color: gray;
    font-size: 20px;
    margin-top: 0;
}

#descrizione_TheBooleaner {
    color: #B1E5F2;
}

#data {
    font-size: 15px;
}

.descrizione_foto {
    font-size: 12px;
    margin-top: 0;
}